.container {
	display: flex;
	flex-direction: column;
	padding: 10px;
	/* debugging */
	/* border: 1px solid; */
}

.close {
    display: flex;
    justify-content: flex-end;
	color: #31708E;
	font-size: 1.5em;
	/* opacity: 50%; */
}

.close span {
    display: block;
	cursor: pointer;
}

.profile-pic {
    width: 100%;
    /* debugging */
    /* border: 1px solid; */
}

.profile-pic img {
    width: 50%;
    display: block;
    margin: auto;

    /* debugging */
    /* border: 1px solid; */
}

.name, .handle {
    margin: auto;
	max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
	word-wrap: break-word;
    padding: 5px;

    /* debugging */
    /* border: 1px solid; */
}

.handle {
	font-size: 1em;
	color: #888;
}

.status {
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    background-color: #31708E;
    color: #FFFFFF;
    padding: 5px 10px;
    /* debugging */
    /* border: 1px solid; */
}