.container {
	height: 100%;
	/* debugging */
	/* border: 1px solid; */
}

.chat-head {
	height: 10%;

	/* debugging */
	/* border: 1px solid; */
}

.message-area {
	height: 80%;
	padding-bottom: 10px;
	/* debugging */
	/* border: 1px solid; */
}

.input-area {
	height: 10%;

	/* debugging */
	/* border: 1px solid; */
}

.message-area, .input-area {
	padding: 0 10px;
}

