.container {
    display: flex;
    background-color: #ffffff;
    height: 95vh;
    min-width: 900px;
    min-height: 500px;
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
    
    /* debugging */
    /* border: 1px solid; */
}

.navigator {
    background-color: #ffffff;
    width: 350px;

    /* debugging */
    /* border: 1px solid; */
}

.chat {
    width: 80%;
    /* debugging */
    /* border: 1px solid; */
}