.container {
    display: flex;
    height: 100%;
    /* debugging */
    /* border: 1px solid; */
}

.head {
    width: 70%;
    margin: auto;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #6f7884;
    /* debugging */
    /* border: 1px solid; */
}

.add {
    width: 10%;
    margin: auto;
    text-align: center;
    /* font-size: 1.2em; */
    border-radius: 10px;
    background-color: #B4DFE5;
    color: #31708E;
    
    padding: 5px;
    /* font-weight: 800; */
    /* debugging */
    /* border: 1px solid; */
}

.find-user {
	position: absolute;
}

.three-dots {
    width: 15%;
    font-size: 1.5em;
    color: #bec4cd;
    text-align: center;
    margin: auto;
    /* debugging */
    /* border: 1px solid; */
}