.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow: auto;
    /* debugging */
    /* border: 1px solid; */
}

.last-chat {
    display: flex;
    height: 70px;
    width: 100%;
    padding-top: 5px;

    /* debugging */
    /* border: 1px solid; */
}

.last-chat:hover {
    background: #f0f3f6;
}

.dp {
    width: 15%;
    /* debugging */
    /* border: 1px solid; */
}

.dp img {
    height: 75%;
    padding: 5px;
}

.name-container {
    display: flex;
    width: 70%;
    height: 100%;
    padding: 5px;
    flex-direction: column;

    /* debugging */
    /* border: 1px solid; */
}

.name {
    height: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    /* debugging */
    /* border: 1px solid; */
}

.last-message {
    height: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: .8em;
    color: #8191a9;
    /* debugging */
    /* border: 1px solid; */
}

.lastTime {
    width: 15%;
    padding-top: 10px;
    padding-right: 5px;
    font-weight: bold;
    color: #717d9d;
    /* debugging */
    /* border: 1px solid; */
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }