<div class="container">
    <div *ngFor="let lastChat of lastChats | keyvalue" class="last-chat" (click)="loadMessages(lastChat.value.chatId)">
        <div class="dp">
            <img [src]="lastChat.value.profilePicture" alt="Display picture of {{ lastChat.value.name }}">
        </div>
        <div class="name-container">
            <div class="name">{{ lastChat.value.name }}</div>
            <div class="last-message">{{ lastChat.value.lastMessage }}</div>
        </div>
        <div class="lastTime">{{ lastChat.value.lastTime | date :'HH:mm' }}</div>
    </div>
</div>