<div class="container">
    <div *ngFor="let lastChat of lastChats" class="last-chat" (click)="loadMessages(lastChat.chatId)">
        <div class="dp">
            <img [src]="lastChat.profilePicture" alt="Display picture of {{ lastChat.name }}">
        </div>
        <div class="name-container">
            <div class="name">{{ lastChat.name }}</div>
            <div class="last-message">{{ lastChat.lastMessage }}</div>
        </div>
        <div class="lastTime">{{ lastChat.lastTime | date :'HH:mm' }}</div>
    </div>
</div>