.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 10px;
    /* debugging */
    /* border: 1px solid; */
}

.branding {
    height: 5%;
    /* debugging */
    /* border: 1px solid; */
    
}

.user-profile {
    height: 30%;

    /* debugging */
    /* border: 1px solid; */
}

.chat-features {
    height: 65%;
    
    /* debugging */
    /* border: 1px solid; */
}